.container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3.125rem;

    border: 8px solid rgb(39, 25, 14);

    border-radius: 10px;
}

.board{
    width: 62.5rem;
    height: 40.625rem;
}